{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">
            <div>
                <img class="img-rounded img-responsive col-xs-2" src="{% if profile.avatar %}
                                                                          {{ profile.avatar.avatar.url }}
                                                                      {% else %}
                                                                          {% static 'ressources/logo/icon_bronycub.png' %}
                                                                      {% endif %}" alt="avatar"/>
                <h1 class="col-xs-offset-1">{% trans 'SugarCUB </br>My Profile' %}</h1>
                <hr/>
                <form enctype="multipart/form-data" class="form-horizontal" method="post">
                    {% csrf_token %}

                    <!-- Image + biographie (toujours affiché) -->
                    {% bootstrap_field form.bio layout='horizontal' horizontal_label_class='col-xs-1' horizontal_field_class='col-xs-11' %}

                    <img class="img-rounded img-responsive col-xs-offset-1" width="150px" src="{% if profile.avatar %}
                                                                     {{ profile.avatar.avatar.url }}
                                                                 {% else %}
                                                                     {% static 'ressources/logo/icon_bronycub.png' %}
                                                                 {% endif %}" alt="avatar"/>
                    {% bootstrap_field form.avatar layout='horizontal' field_class='col-xs-4' horizontal_label_class='col-xs-1' horizontal_field_class='col-xs-3' %}

                    <hr/>
                    <h3>{% trans 'Favorite pony :' %}</h3>
                    <!-- favorite pony -->
                    {{ ponies.management_form }}
                    {% for ponyform in ponies %}
                        {% bootstrap_field ponyform.pony show_label=false field_class='col-xs-3' form_group_class='' %}

                        {% if ponies.can_delete %}
                            {{ ponyform.id }}
                            {% bootstrap_field ponyform.message show_label=false field_class='col-xs-8' form_group_class='' %}
                            {% bootstrap_field ponyform.DELETE %}
                        {% else %}
                            {% bootstrap_field ponyform.message show_label=false field_class='col-xs-9' %}
                        {% endif %}

                    {% endfor %}

                    <hr/>
                    <h3>{% trans 'Url :' %}</h3>
                    <!-- url -->
                    {{ urls.management_form }}
                    {% for urlform in urls %}

                        {% if urls.can_delete %}
                            {{ urlform.id }}
                            {% bootstrap_field urlform.url show_label=false field_class='col-xs-11' form_group_class='' %}
                            {% bootstrap_field urlform.DELETE %}
                        {% else %}
                            {% bootstrap_field urlform.message show_label=false field_class='col-xs-12' %}
                        {% endif %}

                    {% endfor %}

                    <hr/>
                    <h4>{% trans 'Only members of BronyCUB will be able to see those information :' %}</h4>
                    <!-- information caché -->
                    {% bootstrap_field form.phone layout='horizontal' horizontal_label_class='col-xs-1' horizontal_field_class='col-xs-11' %}
                    {% bootstrap_field form.birthday layout='horizontal' horizontal_label_class='col-xs-1' horizontal_field_class='col-xs-11' %}
                    {% bootstrap_field form.address layout='horizontal' horizontal_label_class='col-xs-1' horizontal_field_class='col-xs-4' form_group_class='' %}
                    {% bootstrap_field form.city layout='horizontal' horizontal_label_class='col-xs-1' horizontal_field_class='col-xs-3' form_group_class='' %}
                    {% bootstrap_field form.postal_code layout='horizontal' horizontal_label_class='col-xs-2' horizontal_field_class='col-xs-1' %}

                    {% buttons %}
                        <button type="submit" class="btn btn-primary">{% bootstrap_icon star %}{% trans 'Update' %}</button>
                    {% endbuttons %}
                </form>
                <hr/>
                <a class="btn btn-primary" href="{% url 'auth_password_change' %}">{% trans 'Change your password' %}</a>
            </div>
        </div>
    </div>

{% endblock %}
