{% extends 'base.html' %}

{% load admin_static %}{% load firstof from future %}

{% block extrahead %}
	<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
	<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

{% load i18n %}

{% block body %}
	{{ block.super }}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
					{% block breadcrumbs %}
						{% if title %}<li><a>{{ title }}</a></li>{% endif %}
					{% endblock %}
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{% block messages %}
					{% if messages %}
						<ul class="messagelist">
							{% for message in messages %}
								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endblock messages %}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				{% block pretitle %}{% endblock %}
				{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
				{% block content %}
					{% block object-tools %}{% endblock %}
					{{ content }}
				{% endblock %}
			</div>
			<div class="col-sm-4">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
