{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<div id="content-main" class="table-responsive">

	{% for app in app_list %}
		<div class="app-{{ app.app_label }} module">
			<table class="table table-striped">
				<caption>
					<span class="text-left"><a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a></span>
				</caption>
				{% for model in app.models %}
					<tr class="model-{{ model.object_name|lower }}">
					{% if model.admin_url %}
						<th scope="row" width="80%"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
					{% else %}
						<th scope="row" width="80%">{{ model.name }}</th>
					{% endif %}

					{% if model.add_url %}
						<td>
							<a href="{{ model.add_url }}" class="addlink">
								<span class="glyphicon glyphicon-plus"></span>
								{% trans 'Add' %}
							</a>
						</td>
					{% else %}
						<td>&nbsp;</td>
					{% endif %}

					{% if model.admin_url %}
						<td>
							<a href="{{ model.admin_url }}" class="changelink">
								<span class="glyphicon glyphicon-pencil"></span>
								{% trans 'Change' %}
							</a>
						</td>
					{% else %}
						<td>&nbsp;</td>
					{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	{% empty %}
		<p>{% trans "You don't have permission to edit anything." %}</p>
	{% endfor %}

	</div>
{% endblock %}

{% block sidebar %}
	<h2>{% trans 'Recent Actions' %}</h2>
	<h3>{% trans 'My Actions' %}</h3>
	{% load log %}
	{% get_admin_log 10 as admin_log for_user user %}
	{% if not admin_log %}
		<p>{% trans 'None available' %}</p>
	{% else %}
		<ul class="nav">
			{% for entry in admin_log %}
				<li>
					{% if not entry.is_deletion and entry.get_admin_url %}
						<a href="{{ entry.get_admin_url }}">
					{% else %}
						<a>
					{% endif %}
						{% if entry.is_addition %}
							<span class="glyphicon glyphicon-plus"></span>
						{% endif %}
						{% if entry.is_change %}
							<span class="glyphicon glyphicon-pencil"></span>
						{% endif %}
						{% if entry.is_deletion %}
							<span class="glyphicon glyphicon-remove"></span>
						{% endif %}
						{{ entry.object_repr }}
						-
						{% if entry.content_type %}
							<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
						{% else %}
							<span class="mini quiet">{% trans 'Unknown content' %}</span>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
