Django>=1.10,<1.11
Pillow>=4.0,<5
arrow>=0.10,<1
celery>=4.0,<5
git+https://github.com/django-admin-bootstrapped/django-admin-bootstrapped.git@master#egg=django-admin-bootstrapped
django-bootstrap3-datetimepicker-2>=2.4,<3
django-bootstrap3>=8.2,<9
django-el-pagination>=3.0,<4
django-pipeline>=1.6.0,<1.7
django-redis>=4.7,<5
django-registration-redux>=1.4,<2
django-simple-captcha>=0.5,<1
django-stdimage>=2.4,<3
django-websocket-redis>=0.4,<1
git+https://github.com/mdevlamynck/django-multiform.git@master#egg=django-multiform
ics>=0.3,<1
psycopg2>=2.7,<3
redis>=2.10,<3
requests>=2.13,<3
