{% load static %}

{% load i18n %}
{% load endless %}

{% url 'agenda:list' as event_url %}
{% lazy_paginate event_list with event_url %}
{% for event in event_list %}
 <div class="event list-group" role="tablist" aria-multiselectable="true">
        <div class="list-group-item" role="tab" id="headingOne">
            <div class="list-group-item-heading">
                <a data-toggle="collapse" data-parent="#event_list" href="#event1" aria-expanded="false" aria-controls="collapseOne">
                    <h4><span class="label label-default">{{ event.date_begin|date }}</span> <i class="fa fa-caret-right"></i> <strong>{{ event.title }}</strong></h4>
                </a>
            </div>
            <div id="event1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="row">
                    <div class="col-md-9">
                        <div>
                          <strong>{% trans 'From' %}
                          <p class="text-danger">{{ event.date_begin|date }} {% trans 'At' %} {{ event.date_begin|time }}</p>
                          {% trans 'To' %}
                          <p class="text-danger">{{ event.date_end|date }} {% trans 'At' %} {{ event.date_end|time }}</p></strong>
                          <strong>{% trans 'Address' %}
                          <p class="text-info">{{event.address}}</p>
                          </strong>
                          <br />
                          <blockquote>
                            <p> {{ event.description }} </p>
                          </blockquote>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                      <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:left;">
                          <h3 class="panel-title"><strong>{% trans 'Will you participate?' %}</strong></h3>
                        </div>
                        <div class="panel-body" style="text-align:center;">
                          <button class="btn btn-success btn-md"><strong><i class="fa fa-thumbs-up"></i> {% trans 'I participate !' %} </strong></button>
                          <button class="btn btn-default btn-md"><i class="fa fa-thumbs-down"></i> {% trans 'Nope !' %} </button>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:left;">
                          <h3 class="panel-title"><strong>{% trans 'Organizer' %}</strong></h3>
                        </div>
                        <div class="panel-body" style="text-align:center;">
                          <img class="img-rounded thumbnail img-responsive" width="400px" src="{% if event.author.profile.avatar %}
                                                                                     {{ event.author.profile.avatar.avatar.url }}
                                                                                 {% else %}
                                                                                     {% static 'ressources/logo/icon_bronycub.png' %}
                                                                                 {% endif %}">
                          <h3>{{ event.author.username }}</h3>
                          <br />
                          <button class="btn btn-danger btn-lg"><strong><i class="fa fa-comments"></i>{% trans 'CONTACT' %}</strong></button>
                        </div>
                      </div>
                    </div>
                </div>
            {% if user.is_authenticated and user.profile.enabled %}
                <hr />
                <div class="input-group">
                    <input id="comment-{{ event.id }}" type="text" class="form-control" placeholder="{% trans 'Post a message' %}">
                    <span class="input-group-addon btn" onclick="submitComment({{ event.id }})"><span class="glyphicon glyphicon-send"/> {% trans 'Post' %}</span>
                </div>
            {% endif %}
            <hr />
            <div id="comment-list-{{ event.id }}" class="list-group-item-text">
                {% include 'agenda/comment_list_page.html' with comment_list=event.comment_set.all %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% show_more 'more events' %}
