{% extends 'base.html' %}

{% load i18n %}
{% load endless %}
{% load static %}
{% load absolute %}

{% block title %}{% trans 'Events' %}{% endblock %}

{% block body %}
{{ block.super }}

<div class="container">
        <div class="row">
            <div class="col-md-6">
                <a data-toggle="modal" data-target="#modal" class="btn btn-primary"><i class="fa fa-calendar-plus-o">&nbsp;</i>{% trans 'Add to your agenda' %}</a>
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="plusinfos" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><i class="fa fa-calendar-plus">&nbsp;</i>{% trans 'Add to your agenda' %}</h4>
                            </div>
                            <div class="modal-body">
                                <p><strong>{% trans 'To add the agenda in your favorite software use the address:' %}</strong></p>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                  <input type="text" class="form-control" value="{% absolute 'agenda:ics_export' %}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated and user.profile.enabled %}
                <div class="col-md-6 text-right">
                    <a class="btn btn-success" href="{% url 'agenda:event' %}"><strong><i class="fa fa-star"></i>&nbsp;{% trans 'Add an event' %}&nbsp;<i class="fa fa-star"></i></strong></a>
                </div>
            {% endif %}
            <div class="col-xs-12">
                <hr/>
                <div class="endless_page_template" id="event_list">
                    {% include 'agenda/event_list_page.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
    {% if user.is_authenticated and user.profile.enabled %}
        <script>
            $(document).ready(function() {
                submitComment = function(id) {
                    var comment = $('#comment-' + id).val();
                    $.ajax({
                        type: 'post',
                        url:  '{% url 'agenda:comment' %}',
                        data:  {event: id, text: comment},
                        success: function() {
                            $('#comment-' + id).val('');
                            $('#comment-list-' + id).prepend(
                                '<div class="comment panel panel-default">' +
                                    '<div class="panel-heading">' +
                                        '<img class="img-header thumbnail" alt="avatar" src="' +
                                            {% if user.profile.avatar.small %}
                                                '{{ user.profile.avatar.small.url }}' +
                                            {% else %}
                                                '{% static 'ressources/logo/icon_bronycub.png' %}' +
                                            {% endif %}
                                        '"/>' +
                                        '{{ user.username }}' +
                                    '</div>' +
                                    '<div class="panel-body">' +
                                        comment +
                                    '</div>' +
                                '</div>'
                            );
                        }
                    });
                };
                submitParticipation = function(id) {
                    $.ajax({
                        type: 'post',
                        url:  '{% url 'agenda:participate' %}',
                        data:  {event: id},
                        success: function() {

                        }
                    });
                };
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function() {
                submitComment_offline = function(id) {
                    var username_post = $('#username-' + id).val();
                    var comment = $('#comment-' + id).val();
                    $.ajax({
                        type: 'post',
                        url:  '{% url 'agenda:comment' %}',
                        data:  {event: id, text: comment, username: username_post},
                        success: function() {
                            $('#comment-' + id).val('');
                            $('#comment-list-' + id).prepend(
                                '<div class="comment panel panel-default">' +
                                    '<div class="panel-heading">' +
                                        '<img class="img-header thumbnail" alt="avatar" src="' +
                                            {% if user.profile.avatar.small %}
                                                '{{ user.profile.avatar.small.url }}' +
                                            {% else %}
                                                '{% static 'ressources/logo/icon_bronycub.png' %}' +
                                            {% endif %}
                                        '"/>' +
                                        username_post +
                                    '</div>' +
                                    '<div class="panel-body">' +
                                        comment +
                                    '</div>' +
                                '</div>'
                            );
                        }
                    });
                };
                submitParticipation_offline = function(id) {
                    var username_post = $('#username-participation-' + id).val();
                    console.log(username_post);
                    $.ajax({
                        type: 'post',
                        url:  '{% url 'agenda:participate' %}',
                        data:  {event: id, username: username_post},
                        success: function() {
                            
                        }
                    });
                };
            });
        </script>
    {% endif %}
{% endblock %}
