{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block body %}
	{{ block.super }}

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal" method="post" action="{% url 'core:login' %}">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
						<button type="submit" class="btn btn-primary">{% bootstrap_icon star %}{% trans 'Login' %}</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>

{% endblock %}
