{% load static %}

{% load i18n %}

<div class="col-sm-4">
    <a data-toggle="modal" data-target="#modal-{{profile.user.username}}">
        <div class="thumbnail">
        <span>
            <img class="img-rounded img-avatar" alt="avatar" src="
                {% if profile.avatar %}
                    {{ profile.avatar.avatar.url }}
                {% else %}
                    {% static 'ressources/logo/icon_bronycub.png' %}
                {% endif %}
            ">
        </span>
        <h3 class="h-inline">{{ profile.user.username }}</h3>
        </div>
    </a>
</div>
<div id="modal-{{profile.user.username}}" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="container-fluid modal-content modal-lg">
            {% if user.is_authenticated %}
                <div class="row modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="col-sm-2 text-center">
                        <img class="img-rounded img-avatar" alt="avatar" src="
                            {% if profile.avatar %}
                                {{ profile.avatar.avatar.url }}
                            {% else %}
                                {% static 'ressources/logo/icon_bronycub.png' %}
                            {% endif %}
                        ">
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-12">
                            <h3>{{ profile.user.username }}</h3>
                            <div class="col-sm-6">
                                <p>{{ profile.user.last_name }} {{ profile.user.first_name }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{ profile.birthday }} </p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{ profile.phone }} </p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{ profile.address }} </p>
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            {% if profile.user.email %}
                                <a href='{{ profile.user.email }}' class='zocial icon email'></a>
                            {% endif %}
                            {% for url in profile.url_set.all %}
                                <a href='{{ url.url }}' class='zocial icon {{ url.icon }}'></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row modal-body">
                    <div class="col-sm-12">
                        <p>{{ profile.bio }}</p>
                    </div>
                </div>
                <div class="row modal-footer">
                    <div class="col-sm-12">
                        <div class="container-fluid">
                            <div class="row text-left">
                                {% for pony in profile.pony_set.all %}
                                    <div class="col-sm-6">
                                        <img alt="{% static pony.pony %}" src="{% static 'img/ponies/'|add:pony.pony|add:'.png' %}" class="img-thumbnail"/><span class='label label-info'>{{ pony.message }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                </div>
            {% elif user.profile.enabled %}
                <div class="row modal-body">
                    <p>{% trans 'Your account must be accepted by the admin to see the members informations.' %}</p>
                </div>
            {% else %}
                <div class="row modal-body">
                    <p>{% trans 'You must be connected to see the members informations.' %}</p>
                </div>
                <div class="row modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
