{% extends 'base.html' %}

{% load i18n %}
{% load login_form %}

{% block title %}{% trans 'Account created' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{% trans 'Your now logged out.' %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                {% login_form %}
            </div>
        </div>
    </div>

{% endblock %}

