{% extends "admin/base_site.html" %}
{% load i18n %}{% load url from future %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Password reset' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Password reset successful' %}</a>{% endblock %}

{% block content %}

<p class="alert alert-success">
    {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
    {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
</p>

{% endblock %}
