{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Signup' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <img class="img-responsive" src="{% static 'img/title_join_min.png' %}" alt="JoinUs" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <form enctype="multipart/form-data" class="form well" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">{% bootstrap_icon star %}{% trans 'Send' %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
