{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Friends' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">

            {% for friend in friends %}
                {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-md-{{ friendWidth }}" align="center">
                    <div class="panel panel-info">
                        <div class="panel-heading">{{ friend.name }}</div>
                      <div class="panel-body">
                          <a href="{{ friend.url }}" target="_blank">
                            <img class="thumbnail" src="{% static 'img/friends/' ~ friend.title|lower|replace(' ', '_') ~ '.png' %}">
                        </a>
                        <p>{{ friend.description }}<br /><br /></p>
                      </div>
                    </div>
                </div>
            {% empty %}
                <p>{% trans 'No friends at the moment ...' %}</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}
