{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load cache %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
{% endblock %}

{% block title %}{% trans 'Map' %}{% endblock %}

{% block body %}
    {{ block.super }}
    {% cache 900 cache_map %}
        <!-- {% now "i\m s\s" %} -->
        <div class="container-fluid full-height">
            <div class="row full-height">
                <div class="col-sm-12 full-height">
                    <div id="map" class="full-height"></div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock %}

{% block javascripts %}
    {{ block.super }}
        <script src="{% static 'leaflet/leaflet.js' %}"></script>
        <script>
            $(document).ready(function() {
                var map = L.map('map').setView([44.836517, -0.583233], 13);

                L.tileLayer('https://{s}.{{ OSM_TILE_SERVER }}/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="http://openstreetmap.org">OpenStreetMap</a>',
                }).addTo(map);

                {% if user.is_authenticated %}
                    {% for profile in profiles %}
                        var customIcon = L.icon({
                            iconUrl: {% if profile.avatar %}
                                        '{{ profile.avatar.avatar.url }}',
                                     {% else %}
                                         {# set rand = random(2)+1 #}
                                         '{% static 'ressources/logo/berry_punch_1.png' %}',
                                     {% endif %}
                            iconSize: [80, 80],
                            iconAnchor: [40, 80],
                            popupAnchor: [0, -80]
                        });
                        L.marker(
                            [{{ profile.address_latitude|safe}}, {{profile.address_longitude|safe }}],{
                                icon: customIcon
                            }
                        ).addTo(map).bindPopup("{{ profile.user.username }}").openPopup();
                    {% endfor %}
                {% endif %}

                var popup = L.popup();
            });
        </script>
{% endblock %}
