{% load static %}

{% load i18n %}

<div class="container list-group-item">
	<div class="row">
		<div class="col-sm-2" align="center">
			{% if profile.avatar %}
				{{ profile.avatar }}
			{% elif profile.gravatar %}
				<img src="http://fr.gravatar.com/avatar/{{ profile.gravatar }}?s=100" alt="" class="img-rounded img-responsive">
			{% else %}
				<img src="{% static 'ressources/logo/icon_bronycub.png' %}" alt="" class="img-rounded img-responsive">
			{% endif %}
		</div>
		<div class="col-sm-10">
			<div class="col-sm-12">
				<h3>{{ profile.user.username }}</h3>
				{% if profile.lastname or profile.firstname %}
					<div class="col-sm-6">
						<p>
							{% if profile.lastname %} {{ profile.lastname }} {% endif %}
							{% if profile.firstname %} {{ profile.firstname }} {% endif %}
						</p>
					</div>
				{% endif %}
				{% if profile.birthday %}
					<div class="col-sm-6">
						<p>{{ profile.birthday }} </p>
					</div>
				{% endif %}
				{% if profile.phone %}
					<div class="col-sm-6">
						<p>{{ profile.phone }} </p>
					</div>
				{% endif %}
				{% if profile.address %}
					<div class="col-sm-6">
						<p>{{ profile.address }} </p>
					</div>
				{% endif %}
			</div>
			<div class="col-sm-12" align="right">
				{% if profile.user.email %}
					<a href='{{ profile.user.email }}' target='_taget' class='zocial icon email'></a>
				{% endif %}
				{% for url in profile.url_set.all %}
					<a href='{{ url.url }}' target='_taget' class='zocial icon {{ url.icon }}'></a>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-12">
			<p> {{ profile.bio }} </p>
			<br /><br />
			{% for pony in profile.pony_set.all %}
				<div class="col-sm-4">
					<img src="{% url 'img/ponies/'|add:pony.pony|add:'.png' %}" class="img-thumbnail"/>&nbsp;&nbsp;&nbsp;<span class='label label-info'>{{ pony.message }}</span>
				</div>
				{% if not forloop.last %}&nbsp;&nbsp;{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
