{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="form well" method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}
                    <h2>{% trans 'Login' %}</h2>
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary btn-block">{% bootstrap_icon star %}{% trans 'Login' %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
