{% load bootstrap3 %}
{% load i18n %}

{% if user.is_authenticated and user.profile.enabled %}
  <div class="input-group">
      {% csrf_token %}
      {% bootstrap_field comment_form.text show_label=false %}
      <span class="input-group-addon btn" onclick="submitComment({{ event.id }})"><span class="glyphicon glyphicon-send"/> {% trans 'Post' %}</span>
  </div>
{% else %}
  <div class="input-group">
      {% csrf_token %}
      {% bootstrap_field comment_form.pseudo show_label=false %}
      {% bootstrap_field comment_form.text show_label=false %}
      {% bootstrap_field comment_form.captcha show_label=false %}
      <span class="input-group-addon btn" onclick="submitComment_offline({{ event.id }})"><span class="glyphicon glyphicon-send"/> {% trans 'Post' %}</span>
  </div>
{% endif %}